.navbar { 
    position: absolute; 
    z-index: 99; 
    top: 20px;
    left: 20px;
    right: 20px;
}

#navbar-solutions {
    position: fixed;
}

.carousel img { width: 100%; }
.well { font-style: italic;}
footer {text-align: center; font-size: small;}